<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Untitled Document</title>
<script src="../../../web/js/SpryAssets/SpryMenuBar.js" type="text/javascript"></script>
<link href="../../../web/js/SpryAssets/SpryMenuBarVertical.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="../../../web/css/main.css">
</head>

<body>
<div id="left" class="menudark">
<ul id="MenuBar1" class="MenuBarVertical">
  <li><a href="#">Evaluación declaraciones de interés </a><!--class="MenuBarItemSubmenu" -->
  <ul><li class="limenudarkvertical">les pusimos nota...</li></ul>
        </li>
  <li><a href="#">VINCULACIONES SOCIETARIAS</a>
  <ul><li class="limenudarkvertical">les pusimos nota..les pusimos nota...les pusimos nota....<br />
les pusimos nota...<br />
les pusimos nota...</li></ul>
  </li>
  <li><a style="padding: 1px 0px;"href="#"><img src="../../../web/images/relinteres/bt-inspector2.png" width="200" height="45" /></a>
  <ul> <li class="limenudarkvertical"> revisa cómo votan los parlamentarios de acuerdo a sus intereses en nuestra NUEVA APLICACIÓN</li> </ul>
  </li>
  <li style="background-color: transparent;"> &nbsp;</li>
  <li ><a style="padding: 0px 0px;"href="#"><img src="../../../web/images/relinteres/banner-legislacion-intereses.png" alt="que dice la legislación" width="198" height="222" /></a></li>
<ul> 
        <li class="limenudarkvertical"> revisa cómo votan los parlamentarios de acuerdo a sus intereses en nuestra NUEVA APLICACIÓN</li> 
      </ul>
  </li>
</ul>
</div>
<script type="text/javascript">
<!--
var MenuBar1 = new Spry.Widget.MenuBar("MenuBar1", {imgRight:"../../../../../../SpryAssets/SpryMenuBarRightHover.gif"});
//-->
</script>
</body>
</html>
