<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Vinculaciones societarias</title>
<link rel="stylesheet" type="text/css" media="screen" href="../../../../../web/css/main.css">
<link rel="stylesheet" type="text/css" media="screen" href="../../../../../web/css/votacion.css">
<link rel="stylesheet" type="text/css" media="screen" href="../../../../../web/css/perfilrelacion.css">
<link rel="stylesheet" type="text/css" media="screen" href="../../../../../web/css/comovotan.css">
<script src="http://legislativo.votainteligente.cl/js/SpryTabbedPanels.js" type="text/javascript"></script>
<link href="http://legislativo.votainteligente.cl/css/SpryTabbedPanels.css" rel="stylesheet" type="text/css" />
<!--usa "layout_seccion_intereses1.php" -->
</head>

<body>


<div id="wrap">
<div class="grispad" >
 <h3 class="titrel curved" > Vinculaciones societarias</h3>
 
 <p>Introduccion vinculaciones soc...</p>
 <p>Introduccion vinculaciones soc...</p>
 <p>Introduccion vinculaciones soc...</p>
 <p>Introduccion vinculaciones soc...</p>
</div>
 <div class="contentpad" style="">
 <div style=" float: left; height: 200px; width: 50%;"> aqui gráfico soc. declaradas v/s no declaradas></div><div  style=" float: left; height: 200px; width: 50%;"> aqui grafico torta de áreas de interés</div>
 <div class="bajadagrafico morado" style=" float: left;  width: 50%; "> Sólo el <span>20%</span><br />
 de los parlamentarios<br />
 declaran <strong>más de la mitad </strong><br />
 de sus sociedades</div>
 <div class="bajadagrafico azul"  style=" float: left;  width: 50%; ">El <span>30%</span> <br />
   de los parlamentarios<br />
 están comercialmente ligados <br />
 al área:<strong> Salud</strong></div>
 </div>
 <div  style=" clear: both;">
 
   <p>aqui </p>
   <p>&nbsp;</p>
   <p>va el buscador que lleva a los pefiles de intereses...</p>
   <p>&nbsp;</p>
   <p>&nbsp;</p>
   <p>&nbsp;</p>
   <p>&nbsp;</p>
 </div>  
 <div class="grispad letrachica" style=" clear: both;">
 
   <p><strong>La letrachica</strong>l letrachicaaaa.skdc ecs cocdnoc sdncñslcnon cdosñnciñ</p>
  </div>  
</div>

</body>

</body>
</html>
