<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Diagnóstico y metodología de relaciones de intereses</title>
<link rel="stylesheet" type="text/css" media="screen" href="http://legislativo.votainteligente.cl/css/main.css">
<link rel="stylesheet" type="text/css" media="screen" href="http://legislativo.votainteligente.cl/css/votacion.css">
<link rel="stylesheet" type="text/css" media="screen" href="http://legislativo.votainteligente.cl/css/perfilrelacion.css">
<link rel="stylesheet" type="text/css" media="screen" href="../../../../../web/css/comovotan.css">
<script src="http://legislativo.votainteligente.cl/js/SpryTabbedPanels.js" type="text/javascript"></script>
<link href="http://legislativo.votainteligente.cl/css/SpryTabbedPanels.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
.style1 {font-size: 14px}
-->
</style>
<!-- layout_seccion_intereses1.php-->
</head>

<body>
<div id="wrap">
<div id="top">
	<div class="grispad">
      <h1 class="perfil">DIAGNÓSTICO Y METODOLOGÍA DE RELACIONES DE INTERESES</h1>
      <br />
     <p> 

Blabkabkabkabak</p>
     <p>&nbsp;</p>
     <p><strong><a href="#">&lt;&lt; Volver a los resultados generales</a></strong></p>
     <p>&nbsp;</p>
	</div>
    
</div>
<div class="">
  <h3 class="tit">xxxxx</h3>
  <h4 class="style1">&nbsp;</h4>
  <h4 class="subt">A) xxxxx</h4>
  <p> xxx   </p>
  <p><br />
  </p>
<div id="TabbedPanels1" class="TabbedPanels" style="margin:5px 0 15px; float: none;">
        <ul class="TabbedPanelsTabGroup">
          <li class="TabbedPanelsTab tabsenador" tabindex="0">xxx</li>
          <li class="TabbedPanelsTab tabdiputado" tabindex="0">xxx</li>
        </ul>
        <div class="TabbedPanelsContentGroup">
          <div class="TabbedPanelsContent">xxx<br />
          </div>
          <div class="TabbedPanelsContent">resultados Diputados<br />
            <br /> <img src="../../../../../web/images/relinteres/diputados-vs-diputados.png" alt="diputados-diputados" /> 
          </div>
        </div>
  </div>
 </div>
<script type="text/javascript">
<!--
var TabbedPanels1 = new Spry.Widget.TabbedPanels("TabbedPanels1");
//-->
</script>

</div>

</body>
</html>
