<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Parlamentario: Ficha sociedad</title>
<link rel="stylesheet" type="text/css" media="screen" href="http://legislativo.votainteligente.cl/css/main.css">
<link rel="stylesheet" type="text/css" media="screen" href="http://legislativo.votainteligente.cl/css/votacion.css">
<link rel="stylesheet" type="text/css" media="screen" href="http://legislativo.votainteligente.cl/css/perfilrelacion.css">
<!-- usa layout2.php-->
</head>

<body>
<div id="top">
  <div class="topperfil">
	<img class="fotoperfil" src="http://legislativo.votainteligente.cl/images/parlamentarios/15.png">
  </div>

  <div class="datospersonales">
	<h1 class="perfil">Nombre Apellido Apellido</h1>
	<p>Senador por Circunscipción Quinta Costa</p>
	<p>Fecha nacimiento: 20/05/1971</p>
  </div>

  <div class="block">
  <div class="contpestanas">
<a href="#">
<div class="pestana curved-top off"> Su perfil</div></a>
<a href="#">
<div class="pestanadark curved-top"><img src="http://legislativo.votainteligente.cl/images/relinteres/ic-relacion18px.png" width="32" height="18" /> Su perfil de intereses</div>
</a>
	<div class="blockdata blockdark">
    
	  <div class="enlacespersonales familiares">
	 	<div class="pr_cony">
		  <h4>Relaciones Familiares </h4>
		  <p><span class="enunciado">Estado Civil: </span>Casado (a) </p>
				<p><span class="enunciado">Cónyuge:</span>Pepita Los Palotes </p>
		</div>
            <div class="pr_hijos" style="float: left;">
            <span class="enunciado">Hijos:</span><p>Nombre Apellido Apellido, Nombre Apellido Apellido, Nombre Apellido Apellido, Nombre Apellido Apellido, Nombre Apellido Apellido, Nombre Apellido Apellido,</p>
            </div>
		</div>
	   <div class="enlacespersonales">
	   <h4> Comisiones en que participa</h4>
	   <p> <span class="enunciado">Permanentes </span> Hacienda</p>
	   <p> <span class="enunciado">Especiales </span> Deportes</p>
	   </div>
	  <div class="enlacespersonales">
			<h4>Partido </h4>
		  <img src="http://legislativo.votainteligente.cl/images/partidos/5_ch.png">	  </div>	
	</div>
    
 
 </div>
 </div>
 </div>
     <div class="separador"> </div>
<div class="blockdata bg_grey"> </div>
     <div class="separador"> </div>

		  

<div> 
<h1 class="perfil"> Detalle de sus sociedades</h1><br /><a href="#"> Volver al listado </a>

<div class="pagination right">
      <a href="#">
        <img alt="First page" src="http://legislativo.votainteligente.cl/images/first.png">
      </a>
      <a href="#">
        <img title="Previous page" alt="Previous page" src="http://legislativo.votainteligente.cl/images/previous.png">
      </a>
         1 <a href="#">2</a>
         <a href="#">3</a>
        <img title="Next page" alt="Next page" src="http://legislativo.votainteligente.cl/images/next.png">
        <img title="Last page" alt="Last page" src="http://legislativo.votainteligente.cl/images/last.png">
      </a>
   </div>
   </div>
  
     
     <div class="blockdata blockgris" >
     <div style="margin: 0px 0px 0px 10px;">
     <h1 class="perfil"> Sociedad Agrícola, Ganadera y Forestal Rosauro Martínez y Compañía Limitada </h1>
     <h2>Nombre de fantasía: <strong>Agro - Martínez Ltda.</strong></h2></div>
     <table class="tb_ficharel curved" width= "700px" cellpadding="3">
       <tr>
         <th width="150px" scope="row">RUT Sociedad</th>
         <td width="54%">79.818.130-0</td>
         <td width="26%" rowspan="6"><img src="http://legislativo.votainteligente.cl/images/votacion/vot_positivo.png" alt="sí la declara" /><br />
declarada</td>
  </tr>
       <tr>
         <th scope="row">fecha de constitución</th>
         <td>6/5/88</td>
       </tr>
       <tr>
         <th scope="row">Último capital Declarado</th>
         <td>$8.000.000</td>
       </tr>
       <tr>
         <th scope="row">Situación tributaria:</th>
         <td>VIGENTE</td>
       </tr>
       <tr>
         <th scope="row">Objeto de la sociedad:</th>
         <td>Comercialización de productos en general</td>
       </tr>
       <tr>
         <th scope="row">Tipo de sociedad</th>
         <td>Resp. Ltda.</td>
       </tr>
       <tr>
         <th scope="row">Socios actuales</th>
         <td colspan="2">Silvia Rita Labbé Alvarez; Marcela Martínez Labbé,   Francisco Javier Martínez Labbé, Marcial Ignacio Martínez Labbé</td>
       </tr>
     </table>
     </div>

          <h1 class="perfil">&nbsp;</h1>
          <h1 class="perfil" style="margin-left: 10px; color:#999999; font-size: 110%;">Otros datos de la sociedad:</h1>
<table width="700px" cellpadding="0"cellspacing="0" class="tb_ficharel2">
       <col width="150" />
 
       <tr >
         <th width="159" >Capital Inicial </th>
         <td width="539">50.000.000</td>
       </tr>
       <tr>
         <th >Capital aportado Por Parlamentario&quot;</th>
         <td>5.800.000</td>
       </tr>
       <tr >
         <th >domicilio sociedad</th>
         <td>Bulnes</td>
       </tr>
       <tr >
         <th>fecha publicación </th>
         <td>17/5/88</td>
  </tr>
       <tr>
         <th >Notaría</th>
         <td >Luciano Fco. Cruz Muñoz, Bulnes</td>
  </tr>
     </table>
<p>&nbsp;</p>
<table width="683" height="228" cellpadding="0" cellspacing="0" class="tb_ficharel2"  >
<caption>Modificaciones</caption>
<tr>
         <th width="38" height="22" ><div align="center">nº</div></th>
         <th><div align="center">fecha modificación</div></th>
         <th><div align="left">MODIFICACIÓN</div></th>
         <th><div align="center">Publicada en:</div></th>
       </tr>
       <tr >
         <td  align="right"><div align="center">1</div></td>
         <td align="right" width="118"><div align="center">9/5/89</div></td>
         <td width="407">Rodrigo Alfonso Martínez Labbé ingresa en la   sociedad</td>
         <td align="right" width="118"><div align="center">11/5/89</div></td>
       </tr>
       <tr >
         <td  align="right"><div align="center">2</div></td>
         <td align="right" width="118"><div align="center">10/5/89</div></td>
         <td width="407">Rodrigo Alfonso Martínez Labbé ingresa en la   sociedad</td>
         <td align="right" width="118"><div align="center">12/5/89</div></td>
       </tr>
       <tr >
         <td align="right"><div align="center">3</div></td>
         <td align="right" width="118"><div align="center">11/5/89</div></td>
         <td width="407">Rodrigo Alfonso Martínez Labbé ingresa en la   sociedad</td>
         <td align="right" width="118"><div align="center">13/5/89</div></td>
       </tr>
       <tr>
         <td align="right"><div align="center">4</div></td>
         <td align="right" width="118"><div align="center">12/5/89</div></td>
         <td width="407">Rodrigo Alfonso Martínez Labbé ingresa en la   sociedad</td>
         <td align="right" width="118"><div align="center">14/5/89</div></td>
       </tr>
<tr height="30"></tr>
</table>
<p>&nbsp;</p>
     <p>&nbsp;</p>
    

</body>
</html>
