<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Perfil de relaciones de interés</title>
<link rel="stylesheet" type="text/css" media="screen" href="http://legislativo.votainteligente.cl/css/main.css">
<link rel="stylesheet" type="text/css" media="screen" href="http://legislativo.votainteligente.cl/css/votacion.css">
<link rel="stylesheet" type="text/css" media="screen" href="http://legislativo.votainteligente.cl/css/perfilrelacion.css">
</head>

<body>
<div id="top">
  <div class="topperfil">
	<img class="fotoperfil" src="http://legislativo.votainteligente.cl/images/parlamentarios/15.png">
  </div>

  <div class="datospersonales">
	<h1 class="perfil">Nombre Apellido Apellido</h1>
	<p>Senador por Circunscipción Quinta Costa</p>
	<p>Fecha nacimiento: 20/05/1971</p>
  </div>

  <div class="block">
	<div class="blockdata">
	  <div class="enlacespersonales familiares">
	 	<div class="pr_cony">
		  <h4>Relaciones Familiares </h4>
		  <p><span class="enunciado">Estado Civil: </span>Casado (a) </p>
				<p><span class="enunciado">Cónyuge:</span>Pepita Los Palotes </p>
		</div>
            <div class="pr_hijos" style="float: left;">
            <span class="enunciado">Hijos:</span><p>Nombre Apellido Apellido, Nombre Apellido Apellido, Nombre Apellido Apellido, Nombre Apellido Apellido, Nombre Apellido Apellido, Nombre Apellido Apellido,</p>
            </div>
		</div>
	   <div class="enlacespersonales">
	   <h4> Comisiones en que participa</h4>
	   <p> <span class="enunciado">Permanentes </span> Hacienda</p>
	   <p> <span class="enunciado">Especiales </span> Deportes</p>
	   </div>
	  <div class="enlacespersonales">
			<h4>Partido </h4>
		  <img src="http://legislativo.votainteligente.cl/images/partidos/5_ch.png">
	  </div>	
	</div>
    
  <div class="block">
	<div class="blockdata"><br />
 aqui podrian ir los indicadores... que opinas?<br />
</div></div>
 </div>
 </div>
     <div class="separador"> </div>
<div class="blockdata bg_grey">
		  <div class="bt_block pos50"><a style="color:white;" href="#"><img src="http://legislativo.votainteligente.cl/images/blanksheet.png"><span>Ver declaración de intereses</span></a></div>
		  <div class="bt_block pos50"><a  style="color:white;" href="#"><img src="http://legislativo.votainteligente.cl/images/blanksheet.png"><span>Ver declaración de Patrimonio</span></a></div>
</div>
<table id="tb_vinculaciones" width="90%" border="0" cellpadding="3">
  <tr>
    <th scope="col"><h5>Area de interés</h5></th>
    <th scope="col"><h5>Sus sociedades</h5>Razón Social</th>
    <th scope="col" ><h5>¿La declara?</h5></th>
    <th scope="col"><h5>+ info</h5>Ver ficha de la sociedad</th>
  </tr>
  <tr>
    <td>Previsión de salud</td>
    <td id="pr_razonsocial">Asesorías e Inversiones Anticipa Limitada</td>
    <td id="pr_declara"><img src="http://legislativo.votainteligente.cl/images/votacion/vot_positivo.png" alt="sí la declara" /></td>
    <td class="td_center"><a href="#"><img src="http://legislativo.votainteligente.cl/images/icons/mas.png" alt="ver la ficha de la sociedad" /></a></td>
  </tr>
  <tr>
    <td>Previsión de salud</td>
    <td>Asesorías e Inversiones Anticipa Limitada</td>
    <td  class="td_center"><img src="http://legislativo.votainteligente.cl/images/votacion/vot_negativo.png" alt="no la declara" /></td>
    <td  class="td_center"><a href="#"><img src="http://legislativo.votainteligente.cl/images/icons/mas.png" alt="ver la ficha de la sociedad" /></a></td>
  </tr>
  <tr>
    <td>Previsión de salud</td>
    <td>Asesorías e Inversiones Anticipa Limitada</td>
    <td  class="td_center"><img src="http://legislativo.votainteligente.cl/images/votacion/vot_positivo.png" alt="si la declara" /></td>
    <td  class="td_center"><a href="#"><img src="http://legislativo.votainteligente.cl/images/icons/mas.png" alt="ver la ficha de la sociedad" /></a></td>
  </tr>
    <tr>
    <td>Previsión de salud</td>
    <td id="pr_razonsocial">Asesorías e Inversiones Anticipa Limitada</td>
    <td id="pr_declara"><img src="http://legislativo.votainteligente.cl/images/votacion/vot_positivo.png" alt="sí la declara" /></td>
    <td class="td_center"><a href="#"><img src="http://legislativo.votainteligente.cl/images/icons/mas.png" alt="ver la ficha de la sociedad" /></a></td>
  </tr>
  <tr>
    <td>Previsión de salud</td>
    <td>Asesorías e Inversiones Anticipa Limitada</td>
    <td  class="td_center"><img src="http://legislativo.votainteligente.cl/images/votacion/vot_negativo.png" alt="no la declara" /></td>
    <td  class="td_center"><a href="#"><img src="http://legislativo.votainteligente.cl/images/icons/mas.png" alt="ver la ficha de la sociedad" /></a></td>
  </tr>
  <tr>
    <td>Previsión de salud</td>
    <td>Asesorías e Inversiones Anticipa Limitada</td>
    <td  class="td_center"><img src="http://legislativo.votainteligente.cl/images/votacion/vot_positivo.png" alt="si la declara" /></td>
    <td  class="td_center"><a href="#"><img src="http://legislativo.votainteligente.cl/images/icons/mas.png" alt="ver la ficha de la sociedad" /></a></td>
  </tr>
</table>
<div class="pagination">
      <a href="#">
        <img alt="First page" src="http://legislativo.votainteligente.cl/images/first.png">
      </a>
      <a href="#">
        <img title="Previous page" alt="Previous page" src="http://legislativo.votainteligente.cl/images/previous.png">
      </a>
         1 <a href="#">2</a>
         <a href="#">3</a>
        <img title="Next page" alt="Next page" src="http://legislativo.votainteligente.cl/images/next.png">
        <img title="Last page" alt="Last page" src="http://legislativo.votainteligente.cl/images/last.png">
      </a>
   </div>
</body>
</html>
