<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Perfil de relaciones de interés</title>
<link rel="stylesheet" type="text/css" media="screen" href="http://legislativo.votainteligente.cl/css/main.css">
<link rel="stylesheet" type="text/css" media="screen" href="http://legislativo.votainteligente.cl/css/votacion.css">
<link rel="stylesheet" type="text/css" media="screen" href="http://legislativo.votainteligente.cl/css/perfilrelacion.css">
<script src="http://legislativo.votainteligente.cl/js/SpryTabbedPanels.js" type="text/javascript"></script>
<link href="http://legislativo.votainteligente.cl/css/SpryTabbedPanels.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
.style1 {font-size: 14px}
-->
</style>
</head>

<body>
<div class="contentpad" style="width:720px; float: left;">
<div id="top">
	<div class="cuadro_gris">
      <h1 class="perfil">RELACIONES DE INTERESES</h1>
      <br />
     <p> 

Porque el estado de las declaraciones de intereses y de patrimonio de nuestros parlamentarios son muy deficientes, hemos creado esta aplicación que busca identificar las participaciones de nuestros parlamentarios en sociedades comerciales o sin fines de lucro. Con esta herramienta podrás:

  <br />
  - Buscar por parlamentario los intereses comerciales que cada uno  tiene,<br /> 
- Revisar en qué áreas económicas están sus sociedades o negocios, 
<br />
- Conocer cuáles han sido sus votaciones en los proyectos de ley que pueden estar relacionados a sus intereses<br /> 
- Determinar cuál es el estado de sus declaraciones con respecto a sus pares y a funcionarios de la administración pública.

<br />
<br />
Como usuario podrás cruzar las participaciones de algún parlamentario en sociedades con sus votaciones en alguna área económica determinada, o descubrir posibles casos de conflictos de intereses. Es importante para tu conocimiento que de acuerdo a la legislación actual, se produce un conflicto de interés cuando un parlamentario promueve o vota un asunto que le interesa directa o personalmente a él o a un pariente cercano (se linkea a las preguntas/respuestas de la legislación actual).</p>
     <p>&nbsp;</p>
     <p>&nbsp;</p>
     <p><strong><a href="#">&gt;&gt;Diagnóstico y metodología</a></strong></p>
     <p>&nbsp;</p>
	</div>
    
</div>
<div class="">
  <h3 class="tit"> Resultados medición de calidad de declaraciones de interés</h3>
  <h4 class="style1">&nbsp;</h4>
  <h4 class="subt">A) EN RELACIÓN A SUS PARES</h4>
  <p>    Los siguientes gráficos expresan losresultados obtenidos por los parlamentarios en relación a la media de sus pares. </p>
  <p><br />
  </p>
<div id="TabbedPanels1" class="TabbedPanels" style="margin:5px 0 15px; float: none;">
        <ul class="TabbedPanelsTabGroup">
          <li class="TabbedPanelsTab tabsenador" tabindex="0">SENADORES</li>
          <li class="TabbedPanelsTab tabdiputado" tabindex="0">DIPUTADOS</li>
        </ul>
        <div class="TabbedPanelsContentGroup">
          <div class="TabbedPanelsContent">Resulatados Senadores  <br />
          <img src="../../../../../web/images/relinteres/senadores-vs-senadores.png" alt="senadores-senadores" width="787" height="348" />          </div>
          <div class="TabbedPanelsContent">resultados Diputados<br />
            <br /> <img src="../../../../../web/images/relinteres/diputados-vs-diputados.png" alt="diputados-diputados" /> 
          </div>
        </div>
  </div>
 </div>
<script type="text/javascript">
<!--
var TabbedPanels1 = new Spry.Widget.TabbedPanels("TabbedPanels1");
//-->
</script>

<div>

        <h4 class="nodato">B) EN RELACIÓN AL ESTÁNDAR APLICADO A LOS FUNCIONARIOS PÚBLICOS</h4>
      <p>Los siguientes gráficos expresan los resultados obtenidos por los parlamentarios en relación al estándar aplicado a los funcionarios públicos.</p>
      <p>&nbsp;</p>
<div id="TabbedPanels2" class="TabbedPanels" style="margin-bottom: 15px; float: none;">
        <ul class="TabbedPanelsTabGroup">
          <li class="TabbedPanelsTab tabsenador" tabindex="0">SENADORES</li>
          <li class="TabbedPanelsTab tabdiputado" tabindex="0">DIPUTADOS</li>
        </ul>
        <div class="TabbedPanelsContentGroup">
          <div class="TabbedPanelsContent">Resultados Senadores  <img src="../../../../../web/images/relinteres/senadores-vs-Fun.Publicos.png" alt="senadores vesus funcionario público" width="787" height="365" /><br />
          </div>
          <div class="TabbedPanelsContent">resultados Diputados<br />
            <br /> <img src="../../../../../web/images/relinteres/diputados-vs-Func.publicos.png" alt="diputados versus funcionario publico" />
          </div>
        </div>
  </div>
  </div>
<script type="text/javascript">
<!--
var TabbedPanels2 = new Spry.Widget.TabbedPanels("TabbedPanels2");
//-->
</script>
  <h3 class="tit"> Resultados medición de <span class="underline" style=" text-decoration:underline; ">coherencia</span> en declaración de vinculaciones societarias</h3>
  aqui va el gráfico de :
  1-a definir por pancho
  2-areas de interes con más parlamentarios
</div>
<div id="right"><div>AQUI VA EL BUSCADOR</div> <div style="margin-top:15px;">módulo con link a reguntas y respuestas</div>
<div style="margin-top: 10px;"><a href=file:///Users/Montse/VOTA%20INTELIGENTE/web%20votainteligente/VI_LOCAL%20/legislativo/apps/prefrontend/modules/Relaciones_interes/templates/relinteres-legislacion.html><img src="../../../../../web/images/relinteres/banner-legislacion-intereses.png" width="198" height="222" /></a></div>
</div>
</body>
</html>
