<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Relaciones Interés: legislación </title>

<link rel="stylesheet" type="text/css" media="screen" href="http://legislativo.votainteligente.cl/css/main.css">
<link rel="stylesheet" type="text/css" media="screen" href="http://legislativo.votainteligente.cl/css/votacion.css">
<link rel="stylesheet" type="text/css" media="screen" href="http://legislativo.votainteligente.cl/css/perfilrelacion.css">
<link rel="stylesheet" type="text/css" media="screen" href="../../../../../web/css/comovotan.css">
<link href="http://legislativo.votainteligente.cl/css/SpryTabbedPanels.css" rel="stylesheet" type="text/css" />
<script src="http://legislativo.votainteligente.cl/js/SpryAssets/SpryMenuBar.js" type="text/javascript"></script>
  <link href="http://legislativo.votainteligente.cl/js/SpryAssets/SpryMenuBarVertical.css" rel="stylesheet" type="text/css" />
  <script src="http://legislativo.votainteligente.cl/js/SpryAssets/SpryMenuBar.js" type="text/javascript"></script>
<link href="../../../../web/js/SpryAssets/SpryMenuBarVertical.css" rel="stylesheet" type="text/css" />

</head>

<!--usa el "layout_seccion_intereses2.php"-->

<body>
<div style="display:block; position:fixed; top:0px; display: block; clear: both; width:100%; z-index: 1000;" >
      <h1 class="acertijo">Qué dice la legislación sobre las declaraciones de intereses      </h1>
</div>
    <div id="left" class="menudark" style="display:block; position:fixed; top:58px;">
<ul id="MenuBar1" class="MenuBarVertical">
  <li><a href="#">Evaluación declaraciones de interés </a><!--class="MenuBarItemSubmenu" -->
  <ul><li class="limenudarkvertical">les pusimos nota...</li></ul>
        </li>
  <li><a href="#">VINCULACIONES SOCIETARIAS</a>
  <ul><li class="limenudarkvertical">les pusimos nota..les pusimos nota...les pusimos nota....<br />
les pusimos nota...<br />
les pusimos nota...</li></ul>
  </li>
  <li><a style="padding: 1px 0px;"href="#"><img src="http://legislativo.votainteligente.cl/images/relinteres/bt-inspector2.png" width="200" height="45" /></a>
  <ul> <li class="limenudarkvertical"> revisa cómo votan los parlamentarios de acuerdo a sus intereses en nuestra NUEVA APLICACIÓN</li> </ul>
  </li>
  <li style="background-color: transparent;"> &nbsp;</li>
  <li ><a style="padding: 0px 0px;"href="#"><img src="http://legislativo.votainteligente.cl/images/relinteres/acertijochico.jpg" alt="que dice la legislación" /></a></li>
  <li class="acertijo"><a href="#declaraciones">1- Declaraciones y conflicto de intereses</a></li>
<li class="acertijo">2- presentación y actualización de la declaración de intereses</li>
<li class="acertijo">3- Información que se debe declarar</li>
<li class="acertijo">4- declaraciones de parlamentarios v/s otros funcionarios públicos</li>

</ul>
</div>
<script type="text/javascript">
<!--
var MenuBar1 = new Spry.Widget.MenuBar("MenuBar1", {imgRight:"../../../../../../SpryAssets/SpryMenuBarRightHover.gif"});
//-->
</script>

<a name="declaraciones" id="declaraciones"></a>          
<div class="contentpad" >

    <div style="clear: both; display: block; overflow: hidden; "><strong><a href="#"> Volver a los resultados generales</a></strong></div>
    </div>
    

<div class="leginteres">

  <h4 class="titrel curved"> 1) DECLARACIONES Y CONFLICTOS DE INTERESES</h4>
  
  <div >
   <strong> ¿Se encuentran los parlamentarios obligados a declarar sus intereses?</strong><br />
    Sí. La Ley número 18.918, Orgánica Constitucional del Congreso Nacional, obliga a los<br />
    Diputados y Senadores a efectuar una declaración jurada de intereses (artículo 5C).
  </div>
  <div><strong>¿Qué finalidad tienen las declaraciones de intereses?</strong><br />
    Buscan prevenir conflictos de interés y dar a conocer cuáles son “los intereses” que tienen las personas que están facultadas para tomar decisiones en el sector público. A través de estas se dan a conocer las actividades económicas y profesionales en que ellos participan.</div>
    
 
  <div><strong>¿Qué son los conflictos de interés?</strong><br />
    Son aquellos que se producen cuando una persona tiene intereses personales involucrados respecto de materias sobre las cuales debe resolver con independencia y autonomía.</div>
  <div><strong>¿Qué ocurre si un Diputado o Senador presenta algún interés directo o personal en un
    asunto?</strong><br />
    No podrá promoverlo ni votarlo en el ejercicio de su función legisladora.<br />
    Sí podrán participar en el debate advirtiendo previamente el interés que ellos tienen, o las<br />
    personas que se mencionan a continuación en el asunto.<br />
    Se entenderá que presenta un conflicto de interés cuando el asunto le interese directa o<br />
    personalmente al parlamentario o a su (s):<br />
    - Cónyuge<br />
    - Ascendientes hasta tercer grado de consanguineidad (hijo, nietos, bisnietos).<br />
    - Descendientes hasta tercer grado de consanguineidad (padres, abuelos, bisabuelos).<br />
    - Colaterales hasta el tercer grado de consanguinidad (hermano, tío, sobrino) y el segundo de<br />
    afinidad inclusive (suegros, yernos, nuera, cuñados)<br />
    - A las personas ligadas ellos por adopción.<br />
    <br />
    No regirá este impedimento en asuntos de índole general que interesen al gremio, profesión,<br />
    industria o comercio a que el parlamentario pertenezca, en elecciones o en aquellas materias<br />
    que importen el ejercicio de alguna de las atribuciones exclusivas de la respectiva Cámara.</div>

  <div><strong>¿En qué principios se sustenta la obligación de los parlamentarios de declarar sus intereses?</strong><br />
    En los principios de probidad y transparencia que se encuentran reconocidos en el artículo 8º de la Constitución Política y en el artículo 5A de la Ley número 18.918 Orgánica Constitucional del Congreso Nacional.<br />
    <br />
    El <strong><em>principio de probidad</em></strong> obliga a los parlamentarios a mantener una conducta intachable y a observar un desempeño honesto y leal de sus funciones, primando siempre el interés general por sobre el particular.
  <br />
    El<strong><em> principio de transparencia</em></strong> obliga a los parlamentarios a promover y dar a conocer<br />
    públicamente todos los actos y resoluciones que adopten en el ejercicio de sus funciones, junto con sus fundamentos y los procedimientos que les sirvieron de guía.
  </div> 
  <div><strong>¿Dónde podemos encontrar las declaraciones de intereses de los parlamentarios?</strong><br />
En el sitio Web de cada institución ya que la ley obliga a publicar un facsímil de las<br />
declaraciones. Asimismo se podrá consultar y obtener copia de ellas en la secretaría de<br />
la respectiva Cámara. Los costos los deberá pagar el solicitante. (Artículo 5C ley 18.918)</div>

  <h4 class="titrel curved">2)  PRESENTACIÓN Y ACTUALIZACIÓN DE LA DECLARACIÓN DE INTERESES</h4>
  <div><strong>¿Cuándo deben los Diputados y Senadores efectuar la declaración de interés?</strong><br />
    Deben presentarla dentro de los treinta días hábiles contados desde que asumieron el cargo.<br />
    Los senadores además deberán efectuarla dentro de los treinta días siguientes al inicio de cada período legislativo. Ello porque cada período legislativo dura 4 años y los senadores duran 8 años en el cargo. (Artículo 5C ley 18.918).</div>
  <div><strong>¿Qué ocurre si no se presenta a tiempo la declaración de intereses?</strong><br />
    El parlamentario será sancionado con una multa de 10 a 30 unidades tributarias mensuales,<br />
    previo conocimiento y resolución de la comisión de Ética y Transparencia.(Artículo 5E ley 18.918)<br />
    El secretario de cada Cámara dará publicidad a los nombres de los parlamentarios que no hubieren efectuado su declaración a tiempo (Artículo 5C ley 18.918).</div>
 
  <div><strong>¿Qué ocurre si se produce un cambio en los intereses del parlamentario?</strong><br />
    Los parlamentarios deberán actualizar la declaración de intereses cada vez que se produzca algún cambio en sus intereses.</div>
 
  <div><strong>¿Qué ocurre si no se actualiza la declaración de intereses cuando hubo un cambio de</strong><br />
      <strong>intereses?</strong><br />
    El parlamentario será sancionado con una multa de 5 a 15 unidades tributarias mensuales previo conocimiento y resolución de la comisión de Ética y Transparencia. (Artículos 5C y 5E ley 18.918)</div>
 
  <div><strong>¿Cómo opera el procedimiento para sancionar a un parlamentario en caso de</strong><br />
      <strong>que no presente su declaración de intereses oportunamente o no la actualice?</strong><br />
El procedimiento podrá iniciarse de oficio por la comisión de Ética y Transparencia o por<br />
    denuncia de cualquier persona interesada.<br />
    El parlamentario afectado tendrá derecho a contestar la denuncia en el plazo de diez días<br />
    hábiles y en caso de ser necesario, se abrirá un período probatorio de ocho días donde podrán<br />
    utilizarse todos los medios de prueba que se estimen pertinentes.<br />
    Luego, la Comisión de Ética y Transparencia deberá dictar una resolución final dentro de los<br />
    diez días siguientes a aquél en que finalizó el período probatorio o en caso de no haberse<br />
    llevado a cabo, contado desde que se realizo la última diligencia.<br />
    Una vez notificada la resolución que impone la multa al infractor, éste tendrá el plazo fatal<br />
    de diez días, para presentar la declaración omitida o para corregirla. Si así lo hiciere, se podrá<br />
    rebajar dicha multa.<br />
    En caso de reincidencia, se sancionará al parlamentario con una multa equivalente al doble de<br />
    la que le corresponda.<br />
    (Artículo 5E ley 18.918)</div>

  <div><h4 class="titrel curved">3)  Información que se debe declarar</h4>
  <strong>¿Qué información deberá contener la declaración de intereses?</strong><br />
    El artículo 5C se remite al artículo 60 de la ley Nº 18.575 de bases de la administración del<br />
    Estado para definir qué información deberá contener la declaración de intereses. Por su<br />
    parte, ese artículo 60 señala que será un reglamento el que establecerá los requisitos de las<br />
    declaraciones de intereses. Así, tanto el Senado como la Cámara de Diputados, han establecido<br />
    sus propios reglamentos para regular esta materia, por lo que exigen distintos requisitos para<br />
    las declaraciones de intereses.</div>
 
  <div><strong>¿Qué reglamentos regulan los contenidos que deberán contemplar las declaraciones de
    intereses y dónde los podemos encontrar?</strong><br />
    
    El Senado reguló esta materia en el reglamento del Senado, específicamente en su artículo 6º,<br />
    el cual se encuentra disponible en su sitio Web <a href="../../../../../images/relinteres/FORM-DECLARACION-JURADA-INTERESES-SENADO.doc">(descargar formulario).</a><br />
    La Cámara de Diputados reguló esta materia en el “Reglamento de la Declaración de Intereses<br />
    de los Diputados” el cual propuesto por la Comisión de Conducta a la Cámara y aprobado por<br />
    la Sala en la sesión 22ª, de jueves 3 de agosto de 2000. Este no se encuentra publicado en su<br />
    sitio Web de la corporación.<a href="#"> (Descargar reglamento).</a></div>
 
  <div><strong>¿Qué requisitos debe cumplir la declaración de intereses del Senado? <br />
    - Deberá efectuarse ante un Notario de su domicilio o de la ciudad donde celebre sus sesiones 
    el Senado.<br /></strong>
    - Deberá contener:<br />
    
    <ul><li>a) Nombre completo del Senador declarante;<br /></li>
  <li>  b) Circunscripción senatorial que representa;<br /></li>
    <li>c) Período legislativo al que corresponde la declaración;<br /></li>
    <li>d) Individualización de las actividades profesionales que realiza;<br /></li>
    <li>e) Individualización de las actividades económicas en las que participa, y<br /></li>
   <li> f) Menciones u observaciones que el Senador declarante estime procedentes.<br /></li>
   <li> El Secretario del Senado proporcionará un formulario tipo (descárgalo aquí) a los Senadores<br /></li>
   <li> para su declaración de intereses. (Artículo 6º bis del Reglamento del Senado)</li></ul></div>
 
  <div><strong class="">¿Qué requisitos debe cumplir la declaración de intereses de la Cámara de Diputados?</strong><br />
    - Deberá efectuarse ante un Notario público de cualquier comuna que corresponda al distrito
 que el diputado represente en el Congreso Nacional o de la ciudad en la que éste celebre sus
    sesiones.<br />
- Deberá contener:<br />
    a) Nombre completo del diputado declarante;<br />
    b)    Distrito electoral que representa, indicando la comuna o comunas que agrupa;<br />
    c)    Período legislativo al que corresponde la declaración;<br />
    d)    Individualización de las actividades profesionales que realiza;<br />
    e)    Individualización de las actividades económicas generadoras de ingreso en las que<br />
    participa, y<br />
   f)    Menciones u observaciones que el declarante estime procedentes.<br />
    (Artículo 4º “Reglamento de la Declaración de Intereses de los Diputados”)<br />
 
 El Secretario de la Cámara remitirá al domicilio de los diputados electos, una copia del<br />
    presente reglamento y un formulario tipo de declaración de intereses (descargarlo) (artículo 8<br />
    “Reglamento de la Declaración de Intereses de los Diputados”)</div>

    
  <h4 class="titrel curved"> 4)  DECLARACIÓN DE INTERES DE UN PARLAMENTARIO V/S DECLARACIÓN DE INTERES DE UN<br />
    FUNCIONARIO DE LA ADMINISTRACIÓN DEL ESTADO</h4>
    <div>
  <strong>¿Por qué los parlamentarios no se encuentran obligados a declarar sus intereses en la forma<br />
    en que se encuentran obligados los funcionarios de la administración del Estado, la cual es<br />
    más exigente?</strong><br />
    Porque el artículo 5C de la Ley Orgánica Constitucional del Congreso, se remite al artículo<br />
    60 de la ley Nº 18.575 de bases de la administración del Estado para definir qué información<br />
    deberá contener la declaración de intereses. Por su parte, ese artículo 60 señala que será<br />
    un reglamento el que establecerá los requisitos de las declaraciones de intereses. Así, los<br />
    funcionarios de la administración del Estado se sujetaron al Decreto Supremo nº 99 del 20<br />
    de junio del año 2000, del Ministerio de la Secretaría General de la Presidencia, el cual en su<br />
    artículo 14 establece la forma y procedimiento de su presentación. En tanto los parlamentarios<br />
    se sujetaron a reglamentos propios de sus cámaras, los cuales son mucho menos exigentes<br />
    que los de la administración del Estado.</div>
 
  <div><strong>¿Qué requisitos debe cumplir la declaración de intereses de un funcionario de la<br />
    Administración del Estado?</strong><br />
    - Deberá contener:<br />
    a) La individualización completa del funcionario o autoridad declarante, especificando el cargo<br />
    y función que desempeña y el organismo de la Administración u órgano del Estado en que lo
    hace.<br />
    b) La indicación de la fecha y lugar en que se otorga.<br />
    c) Actividades profesionales, especificando el tipo de actividad; la naturaleza de la<br />
    contratación; la individualización de la persona natural o jurídica a quien se presten los<br />
    servicios o para quien se desarrolle la actividad; la remuneración o la circunstancia de no<br />
    haberla; y la antigüedad del vínculo.<br />
    d) Colaboraciones o aportes, especificando su naturaleza y la forma que asume, sea ésta<br />
    material, inmaterial o pecuniaria; el vínculo en virtud del que se efectúan; la individualización<br />
    de la persona jurídica o entidad para quien se realicen; el tipo de institución de que se trate; la<br />
    frecuencia con que se efectúan; y la antigüedad del vínculo.<br />
    e) Actividades económicas, especificando el tipo de actividad y la forma en que se realiza; y,<br />
    para el caso que éstas asuman el carácter de una participación en personas jurídicas con o sin<br />
    fines de lucro, especificando la naturaleza de la participación; la naturaleza y entidad de lo<br />
    aportado, indicando capital, trabajo y montos, según corresponda; la individualización de la<br />
    sociedad o asociación en que se participe y la actividad que ésta desarrolle; la circunstancia<br />
    de intervenir o no en su administración y el carácter de tal intervención; y la antigüedad del vínculo.<br />
    f) Declaración de que los datos y antecedentes que se proporcionan son veraces y exactos.<br />
    g) Individualización del ministro de fe que autentifica el documento.<br />
    El Ministerio Secretaría General de la Presidencia, en cumplimiento de sus funciones<br />
    de asesoría y coordinación, facilitará un formulario tipo a todos los organismos de la<br />
    Administración del Estado <a href="../../../../../images/relinteres/FORM-DECLARACION-INTERESES-FUNCIONARIOS.doc">(descárgalo aquí)</a>.</div>
 
  <div><br />
       
  </div>
 
  </div>
 </div>



</div>
</div>
</div>
</body>
</html>
